.padd-15px {
	padding: 15px;
}

.padd-25px {
	padding: 25px;
}

.padd-t-30px {
	padding-top: 30px;
}

.padd-r-10px {
	padding-right: 10px;
}

.padd-l-10px {
	padding-left: 10px;
}

.padd-rl-15px {
	padding-right: 15px;
	padding-left: 15px;
}

.padd-tb-10px {
	padding-top: 10px;
	padding-bottom: 10px;
}