@keyframes keyframe-tranX-150 {
	0% {
		transform: translateX(-150%);
	}
	100% {
		transform: translateY(0);
	}
}

.ani-tranX-150 {
	transform: translateX(-150%);
	animation: keyframe-tranX-150 1s forwards;
}

@keyframes keyframe-opacity100 {
	0% {
		opacity: 0%;
	}
	100% {
		opacity: 100%;
	}
}

.ani-opacity100 {
	opacity: 0%;
	animation: keyframe-opacity100 1s forwards;
}

@keyframes keyframe-ripplescale {
	to {
		transform: translate(-50%, -50%) scale(3);
		opacity: 0%;
	}
}

button:not([disabled]) {
	transition: 0.1s;
	&:active {
		transition: 0.1s;
		scale: 0.95;
	}
}

button:not([disabled]) {
	overflow: hidden;
	position: relative;

	.ripple {
		position: absolute;
		transform: translate(-50%, -50%) scale(0);
		background: var(--color_primany_011);
		border-radius: 50%;
		opacity: 100%;
		animation: keyframe-ripplescale 1s ease-out;
	}
}

@keyframes keyframes-shake {
	0% {
		transform: translate(-1px, 1px);
	}
	33% {
		transform: translate(0px, -2px);
	}
	66% {
		transform: translate(-2px, 0px);
	}
	100% {
		transform: translate(-2px, -2px);
	}
}

button:active[disabled] {
	animation: keyframes-shake 0.1s infinite;
	background-color: var(--color_primany_008);
}
