:root {
	&[data-theme = "0"] {
		.themeDark {
			display: none !important;
		}
	}
	&[data-theme = "1"] {
		.themeLight {
			display: none !important;
		}
	}
}

.forcePointer {
	&:hover {
		cursor: pointer;
	}
}

#ID_MOBILE_CONTAINER {
	.breakpoint-pc {
		display: inherit;
	}
}