.card3d {
	position: relative;
	perspective: 1000px;

	&.rotated {
		.frontface {
			transform: rotateY(180deg);
		}
		.backface {
			transform: rotateY(360deg);
		}
	}

	.frontface,
	.backface {
		position: absolute;
		width: 100%;
		height: 100%;
		left: 0;
		top: 0;
		transition: 1s;
		backface-visibility: hidden;
	}
	.backface {
		transform: rotateY(180deg);
	}
}

.line {
	width: 100%;
	height: 1px;

	.vertical {
		width: 1px;
		height: 100%;
	}
}