html {
	font-family: "Inter", system-ui;
	font-style: normal;
	font-weight: 400;
	font-size: 14px;
	line-height: 17px;
	color: var(--color_primany_005);
	cursor: default;
	scroll-behavior: smooth;
}

body {
	background-color: var(--color_primany_000);
	-webkit-tap-highlight-color: transparent;
	margin: 0px;
	padding: 0px;
	width: 100%;
	height: 100%;
}

img {
	user-select: none;
	object-fit: cover;
	object-position: center;

	&:not([src]) {
		display: none;
	}

	&[src=""] {
		display: none;
	}
}