:root {
	color-scheme: light;

	&[data-theme = "1"] {
		color-scheme: dark;
		--color_primany_000: #000000;
		--color_primany_001: #171717;
		--color_primany_002: #262626;
		--color_primany_003: #5F5F5F;
		--color_primany_004: #D9D9D9;
		--color_primany_005: #FFFFFF;
		--color_primany_006: #CF157A; // Accent
		--color_primany_007: #00CD52;
		--color_primany_008: #FF2F2F;
		--color_primany_009: #227BFF;
		--color_primany_010: #F2F2F2;
		--color_primany_011: #CF157A66; // Accent secondary
	}
}